* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
} /*Reset Css*/

:root {
  --red: #e50914;
  --black: #141414;
} /*cria variáveis dentro do css, que poderão ser usadas para simplificar a chamada de determinado valor que é usado repetidamente*/

body {
  background-color: var(--black);
  font-family: "Times New Roman", Times, serif;
}

.container {
  margin-top: 10px;
  margin-right: 30px;
  margin-left: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

header .logo {
  height: 40px;
}

header nav {
  margin-left: 30px;
  font-size: 12px;
}

.menuRight {
  margin-left: auto;
}

header nav a {
  color: #e5e5e5;
  text-decoration: none;
  margin-right: 10px;
}

header nav a:hover {
  color: #b3b3b3;
}

header nav a:active {
  text-decoration: none;
  cursor: pointer;
  color: #fff;
}

.icon {
  width: 15px;
  margin-right: 20px;
}

.profile {
  width: 30px;
  border-radius: 5px;
}

/*Destaque*/
.emphasis {
  background-image: url(/clone-netflix/img/dark.png);
  height: 300px;
  width: 100%;
  overflow: visible;
  background-size: cover;
  position: absolute;
}

.emphasisText {
  width: 35%;
  margin-top: 100px;
  margin-left: 30px;
}

.synopsis {
  font-size: 11px;
  font-family: "Times New Roman", Times, serif;
  color: #fff;
  text-shadow: #b3b3b3 0.1em 0.1em 0.2em;
  margin-bottom: 10px;
}

.emphasisText h3 {
  color: #fff;
  font-size: 30px;
  font-weight: bold;
  font-family: monospace;
  letter-spacing: 10px;
  margin-bottom: 20px;
}

.playButton img,
.moreInfoButton img {
  height: 15px;
  margin-right: 5px;
}

.playButton,
.moreInfoButton {
  padding: 5px 15px;
  font-size: 10px;
  font-weight: bold;
  display: inline-flex;
  align-items: center;
  border-radius: 5px;
  border: none;
  margin: 2px;
  cursor: pointer;
}

.moreInfoButton {
  background-color: grey;
  color: white;
}

.button {
  display: inline-flex;
}

.age img {
  height: 20px;
  margin-left: 10px;
}

.age {
  display: flex;
  float: right;
  width: 60px;
  background-color: grey;
  opacity: 0.7;
  border-left: 3px solid white;
}

.moreInfoButton:hover,
.playButton:hover {
  opacity: 0.7;
}

.click:active {
  margin: 3px;
  border: 1.5px solid white;
  border-radius: 5px;
  opacity: 1;
}

/*Necessário configurar ainda o comportamento dos botões.*/
